extends /layout/master.pug

block styles
	style.
		.scroll-list {
			max-height: 250px;
			overflow-y: auto;
		}
		.media-body {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

block body
	div(class="container")
		div(class="row mt-3")
			div(class="col-md-6 col-12 mb-3 mb-md-0")
				div(class="card")
					div(class="card-header justify-content-between d-flex")
						span(class="font-weight-bold") Users Joined
						a(href="#collapseUsers" data-toggle="collapse" role="button")
							i(class="fas fa-angle-up")
					div(class="card-body collapse show scroll-list" id="collapseUsers")
						ul(class="list-unstyled mb-0")
							each username, index in ['Spyeedy', 'Lasteris', 'akpro', 'Haitodo', 'Hubert Blaine Wolfeschlegelsteinhausenbergerdorff_123456789_abcdefghijklmnopqrstuvwxyz Sr.']
								- let mediaClass = "media" + (index > 0 ? " mt-3" : "");
								li(class=mediaClass)
									img(src="https://ih1.redbubble.net/image.373016258.2964/flat,128x128,075,t-pad,128x128,f8f8f8.u2.jpg" class="mr-3 avatar-img align-self-center")
									div(class="media-body align-self-center")=username


			div(class="col-md-6 col-12")
				div(class="card")
					div(class="card-header justify-content-between d-flex")
						span(class="font-weight-bold") Chats Available
						div
							a(class="badge mr-2 text-muted" href="#" data-toggle="modal" data-target="#addChatModal")
								i(class="fas fa-plus")
							a(href="#collapseChats" data-toggle="collapse" role="button")
								i(class="fas fa-angle-up")
					div(class="card-body collapse show scroll-list" id="collapseChats")
						ul(class="list-unstyled mb-0")
							each room in rooms
								li=room.name
							else
								li(class="text-center") No chats available to join

	div(class="modal fade" id="addChatModal" tabindex="-1")
		div(class="modal-dialog")
			div(class="modal-content")
				form(action="/chat/add" method="POST" id="addChatForm")
					div(class="modal-header")
						h5(class="modal-title") Add New Chat
						button(type="button" class="close" data-dismiss="modal")
							span &times;

					div(class="modal-body")
							div(class="form-group")
								label(for="name" class="required") Name
								input(type="text" name="name" id="name" placeholder="Funroom" class="form-control" required)

							div(class="form-group")
								label(for="maxUsers") User Limit
								input(type="number" name="maxUsers" id="maxUsers" min="1" step="1" class="form-control")

					div(class="modal-footer")
						button(type="button" class="btn btn-secondary" data-dismiss="modal") Cancel
						button(type="submit" class="btn btn-success" data-dismiss="close") Add

block scripts
	script(src="/js/main.js")
	script.
		$("#collapseUsers").on("hide.bs.collapse", () => {
			let iconElement = $("a[href='#collapseUsers']>i");
			iconElement.removeClass();
			iconElement.addClass("fas fa-angle-down");
			console.log(iconElement.classes)
		});
		$("#collapseUsers").on("show.bs.collapse", () => {
			let iconElement = $("a[href='#collapseUsers']>i");
			iconElement.removeClass();
			iconElement.addClass("fas fa-angle-up");
			console.log(iconElement.classes)
		});

		$("#collapseChats").on("hide.bs.collapse", () => {
			let iconElement = $("a[href='#collapseChats']>i");
			iconElement.removeClass();
			iconElement.addClass("fas fa-angle-down");
			console.log(iconElement.classes)
		});
		$("#collapseChats").on("show.bs.collapse", () => {
			let iconElement = $("a[href='#collapseChats']>i");
			iconElement.removeClass();
			iconElement.addClass("fas fa-angle-up");
			console.log(iconElement.classes)
		});

		$("#addChatForm").on('submit', e => {
			e.preventDefault();

			let chatName = $("#addChatForm input[name='name']").val();
			let maxUsers = $("#addChatForm input[name='maxUsers']").val();

			let formData = {
				name: chatName
			};

			if (maxUsers != "" && maxUsers != undefined && maxUsers != null) {
				formData['maxUsers'] = maxUsers;
			}

			console.log("chatName", chatName);
			console.log("maxUsers", maxUsers);
			console.log(formData);

			$.ajax({
				url: "/chat/add",
				type: "POST",
				data: formData,
				"success": data => {
					console.log(data);
				},
				"error": err => console.log(err)
			})
		})